.containerrr {
  position: relative;
}

.bottomright1 {
  position: absolute;
  bottom: 16px;
  right: 8px;
  font-size: 13px;
  opacity : 1;
background-color: white;
padding: 5px;
border-radius: 5px; 

}

.bottomright2 {
  position: absolute;
  bottom: 54px;
  right: 8px;
  font-size: 13px;
  opacity : 1;
background-color: white;
padding: 5px;
border-radius: 5px; 

}

.bottomright3 {
  position: absolute;
  bottom: 94px;
  right: 8px;
  font-size: 13px;
  opacity : 1;
background-color: white;
padding: 5px;
border-radius: 5px; 

}

p.giustificato {
	text-align: justify;
	text-justify: inter-word;
}
div.col-lg-9.col-lg-push-3 {
	padding: 12px;
}

.nav-link {
	color: black;
	padding-left: var(--bs-gutter-x, .84rem);
}

ul.nav {
	background-color: #cce6ff;
	border-radius: 10px 10px 0px 0px;
}

body {
	background-color: #b3daff;
	font-family: 'Poppins';
}

#laterale {
	background-color: #e6f3ff;
	font-family: 'Poppins';
}

figure.figure {
	border: 7px solid transparent;
}

div.container.infondo,
div.row.infondo {
	border-radius: 10px;
}

h1 {
	font-family: 'Poppins';
	background-color: #b3daff;
}

#container {
	background-color: #b3daff;
}

#bassosinistra,
#bassodestra {
	text-align: center;
	background-color: #cce6ff;
	padding: 12px 0px 0px 0px;
}

footer {
	font-family: 'Poppins';
	background-color: #cce6ff;
	border-radius: 0px 0px 10px 10px;
}

#bassosinistra {
	border-radius: 0px 0px 0px 10px;
}

#bassodestra {
	border-radius: 0px 0px 10px 0px;
}

#contenutoprincipale,
footer {
	background-color: #e6f3ff;
}



